@* @model List<RMSNextGen.Models.ProductListDTO> *@
@model RMSNextGen.Web.Models.ProductSearchViewModel
@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_RMSLayout.cshtml";

}

<div class="container">
	<div class="justify-content-between align-items-center">
		@* <h3 class="text-primary">Stores - </h3> *@
		<hr class="mt-0" />
		<h4 class="text-secondary">Products/Search Product</h4>
	</div>

	<form method="post" asp-action="ProductList" asp-controller="Product">
		<div class="card shadow-sm p-2">
			<div class="row g-3">
				<div class="col-sm-5 mr-1 px-2">
					<label for="ProductCode" class="form-label">ProductCode</label>
					<input type="text" class="form-control"  asp-for="ProductCode" placeholder="Enter Product Code">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="ProductName" class="form-label">ProductName</label>
					<input type="text" class="form-control"  asp-for="ProductName" placeholder="Enter Product Name">
				</div>
				<div class="col-sm-5 mr-1 px-2">
					<label for="Category" class="form-label">Category</label>
					<select class="form-select" asp-for="Category" asp-items="ViewBag.ProductCategory">
						<option value="">Select</option>
						@* <option>Dairy Products</option>
						<option>Vegatables</option>
						<option>Electroincs</option>
						<option>Grocerys</option> *@
					</select>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-end gap-2 mt-3">
			<a class="btn btn-reset" asp-controller="Product" asp-action="ProductList">
				<i class="bi bi-arrow-counterclockwise"></i>Clear
			</a>
			<button type="submit" class="btn btn-success" asp-action="ProductList" asp-controller="Product"><i class="bi bi-search"></i> Search</button>
			
			<a class="btn btn-info" asp-action="AddNewProduct" asp-controller="Product">
				<i class="bi bi-plus-circle"></i> Add New Product
			</a>
		</div>

	</form>
	@* <hr class="mt-0" /> *@
	<div class="table-responsive mt-2 p-2">
		<table class="table table-bordered table-hover shadow-sm">
			<thead class="table-dark">
				<tr>
					<th scope="col">S.NO</th>
					<th scope="col">Product Code</th>
					<th scope="col">Product Name</th>
					
					<th scope="col">Qantity</th>
					<th scope="col">Price Per Unit</th>
					<th scope="col" class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in ViewBag.Product)
				{
					
					<tr>
						<td>@item.ProductID</td>
						<td>@item.ProductCode</td>
						<td>@item.ProductName</td>
						<td>@item.Quantity</td>
						<td>@item.PricePerUnit</td>
						<td class="text-center">
							<a asp-controller="Product" asp-action="EditProduct" class="btn btn-sm btn-warning">Edit</a>
							<a asp-controller="Product" asp-action="ViewProduct" class="btn btn-sm btn-info">View</a>
						</td>
					</tr>

				}
				
			</tbody>
		</table>
	</div>
</div>

